<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<!--  
  <display-name>TestOverride</display-name>
  <servlet>
    <servlet-name>acceuille1</servlet-name>
    <servlet-class>acceuile.servlet.acceuille1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceuille1</servlet-name>
    <url-pattern>/bienvenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prenrezrend</servlet-name>
    <servlet-class>acceuile.servlet.prenrezrend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prenrezrend</servlet-name>
    <url-pattern>/prendre_rendez_vous</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gererrendezvous</servlet-name>
    <servlet-class>acceuile.servlet.gererrendezvous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gererrendezvous</servlet-name>
    <url-pattern>/gerer_rendez_vous</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>acceuile.servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <servlet-class>acceuile.servlet.connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription</servlet-name>
    <servlet-class>acceuile.servlet.inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deconnexion</servlet-name>
    <servlet-class>acceuile.servlet.deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconnexion</servlet-name>
    <url-pattern>/deconnexion_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>admin.servlet.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listeRDV</servlet-name>
    <servlet-class>admin.servlet.listeRDV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeRDV</servlet-name>
    <url-pattern>/liste_RDV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prendRDVadmin</servlet-name>
    <servlet-class>admin.servlet.prendRDVadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prendRDVadmin</servlet-name>
    <url-pattern>/prend_RDV_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tauxRDV</servlet-name>
    <servlet-class>admin.servlet.tauxRDV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tauxRDV</servlet-name>
    <url-pattern>/taux_RDV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listepatient</servlet-name>
    <servlet-class>admin.servlet.listepatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listepatient</servlet-name>
    <url-pattern>/liste_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutpatient</servlet-name>
    <servlet-class>admin.servlet.ajoutpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutpatient</servlet-name>
    <url-pattern>/ajout_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listeadmin</servlet-name>
    <servlet-class>admin.servlet.listeadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeadmin</servlet-name>
    <url-pattern>/liste_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutadmin</servlet-name>
    <servlet-class>admin.servlet.ajoutadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutadmin</servlet-name>
    <url-pattern>/ajout_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listehopital</servlet-name>
    <servlet-class>admin.servlet.listehopital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listehopital</servlet-name>
    <url-pattern>/liste_hopital</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listemedecin</servlet-name>
    <servlet-class>admin.servlet.listemedecin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listemedecin</servlet-name>
    <url-pattern>/liste_medecin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifadmin</servlet-name>
    <servlet-class>admin.servlet.modifadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifadmin</servlet-name>
    <url-pattern>/modif_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>admin.servlet.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resultatrech</servlet-name>
    <servlet-class>admin.servlet.resultatrech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultatrech</servlet-name>
    <url-pattern>/resultat_recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifpatient</servlet-name>
    <servlet-class>admin.servlet.modifpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifpatient</servlet-name>
    <url-pattern>/modifier_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selecthopital</servlet-name>
    <servlet-class>admin.servlet.selecthopital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selecthopital</servlet-name>
    <url-pattern>/select_hopital</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectmedcin</servlet-name>
    <servlet-class>acceuile.servlet.selectmedcin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectmedcin</servlet-name>
    <url-pattern>/select_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modif_rend</servlet-name>
    <servlet-class>admin.servlet.modif_rend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modif_rend</servlet-name>
    <url-pattern>/modif_rendez_vous</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modif_rend2</servlet-name>
    <servlet-class>admin.servlet.modif_rend2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modif_rend2</servlet-name>
    <url-pattern>/modif_rendez_vous2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mes_colege</servlet-name>
    <servlet-class>medcin.servlet.mes_colege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mes_colege</servlet-name>
    <url-pattern>/liste_colleg_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mes_rendez_vous</servlet-name>
    <servlet-class>medcin.servlet.mes_rendez_vous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mes_rendez_vous</servlet-name>
    <url-pattern>/liste_rdv_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pourcentage</servlet-name>
    <servlet-class>medcin.servlet.pourcentage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pourcentage</servlet-name>
    <url-pattern>/pourcentage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listepatientmedcin</servlet-name>
    <servlet-class>medcin.servlet.listepatientmedcin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listepatientmedcin</servlet-name>
    <url-pattern>/liste_patient_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_medcin</servlet-name>
    <servlet-class>medcin.servlet.login_medcin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_medcin</servlet-name>
    <url-pattern>/login_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajout_medcin</servlet-name>
    <servlet-class>admin.servlet.ajout_medcin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajout_medcin</servlet-name>
    <url-pattern>/ajout_medcin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modif1</servlet-name>
    <servlet-class>medcin.servlet.modif1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modif1</servlet-name>
    <url-pattern>/modif1</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>modif2</servlet-name>
    <servlet-class>medcin.servlet.modif2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modif2</servlet-name>
    <url-pattern>/modif2</url-pattern>
  </servlet-mapping>-->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>